<div class="team-stats-container">
    <h2>Boston Celtics Team Stats</h2>
    <table>
      <tr>
        <th>Points Per Game</th>
        <td>{{teamStats.pointsPerGame}}</td>
      </tr>
      <tr>
        <th>Rebounds Per Game</th>
        <td>{{teamStats.reboundsPerGame}}</td>
      </tr>
      <tr>
        <th>Assists Per Game</th>
        <td>{{teamStats.assistsPerGame}}</td>
      </tr>
      <tr>
        <th>Field Goal Percentage</th>
        <td>{{teamStats.fieldGoalPercentage}}%</td>
      </tr>
      <tr>
        <th>Three Point Percentage</th>
        <td>{{teamStats.threePointPercentage}}%</td>
      </tr>
      <tr>
        <th>Free Throw Percentage</th>
        <td>{{teamStats.freeThrowPercentage}}%</td>
      </tr>
  