<div class="team-stats-container">
    <h2>Boston Celtics Team Stats</h2>
    <table>
      <tr>
        <th>Points Per Game</th>
        <td>117.7</td>
        <td>4th</td>
      </tr>
      <tr>
        <th>Rebounds Per Game</th>
        <td>{{teamStats.reboundsPerGame}}</td>
        <td>7th</td>
      </tr>
      <tr>
        <th>Assists Per Game</th>
        <td>{{teamStats.assistsPerGame}}</td>
        <td>7th</td>
      </tr>
      <tr>
        <th>Field Goal Percentage</th>
        <td>{{teamStats.fieldGoalPercentage}}%</td>
        <td>13th</td>
      </tr>
      <tr>
        <th>Three Point Percentage</th>
        <td>{{teamStats.threePointPercentage}}%</td>
        <td>5th</td>
      </tr>
      <tr>
        <th>Free Throw Percentage</th>
        <td>{{teamStats.freeThrowPercentage}}%</td>
        <td>4th</td>
      </tr>
      
  